.header {
    display: flex;
    justify-content: space-between;
    background-color: #171810;
    border-bottom: 5px solid #000;
    padding: 10px 20px;
}

.header .navigation {
    text-align: right;
}